.c-navigation {
  align-items: center;
  display: flex;
  flex: auto;
  margin: 0 auto;
  max-width: 1400px;

}

.c-navigation__menu {
  display: none;
}

.c-navigation__logo {
  align-items: center;
  display: flex;
}

.c-navigation__logo-icon {
  height: 40px;
  width: 40px;
}

.c-navigation__logo-text {
  display: inline;
  font-size: 28px;
  font-weight: normal;
  padding-left: 16px;
}

.c-navigation__links {
  display: flex;
  flex: 1 0 auto;
}

.c-navigation__links-collapse {
  display: none;
}

.c-navigation__links ul {
  list-style-type: none;
  margin: 0 10px;
  padding: 0;
}

.c-navigation__links ul li {
  display: inline;
}

.c-navigation__link {
  color: #744cbc;
  height: 40px;
  padding: 0 24px;
  text-decoration: none;
}

.c-navigation__search {
  display: flex;
  flex: 0 1 auto;
  margin-left: 16px;
  max-width: 200px;
  min-width: 200px;
}

.c-navigation__search-box {
  background: #F5F7F9;
  border: 1px solid #E6ECF1;
  border-radius: 4px;
  margin: 0 12px;
}

.c-navigation__search-input {
  background: transparent;
  border: 0;
  color: #9DAAB6;
  height: 38px;
  outline: none;
  padding: 0 8px;
}

.c-navigation__search-icon {
  color: #9DAAB6;
  display: inline;
  margin-left: 10px;
  vertical-align: middle;
}

@media (max-width: 767px) {
  .c-navigation {
    margin: 0 10px;
  }

  .c-navigation__menu {
    display: flex;
    flex: 0 0 auto;
    font-size: 24px;
    margin-right: 10px;
  }

  .c-navigation__logo {
    flex: 1 0 auto;
  }

  .c-navigation__links {
    background-color: white;
    display: block;
    height: 100%;
    left: -100%;
    position: fixed;
    top: 0;
    transition: all linear .2s;
    width: 80%;
    z-index: 10;
  }

  .c-navigation__links.c-navigation__links--active {
    box-shadow: 200px 0 rgba(0, 0, 0, .6);
    left: 0;
  }

  .c-navigation__links-collapse {
    align-items: center;
    border-bottom: 1px solid #d4dadf;
    color: #9DAAB6;
    display: flex;
    font-size: 24px;
    height: 80px;
    padding: 0 16px;
  }

  .c-navigation__links ul li {
    display: block;
    padding: 24px 0;
  }


  .c-navigation__search {
    font-size: 24px;
    min-width: auto;
  }

  .c-navigation__search-box {
    background: transparent;
    border: none;
  }

  .c-navigation__search-input {
    display: none;
  }
 }
